.user-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: rgb(67, 143, 113);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  gap: 20px;
}

.form-control {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  color: white;
  font-weight: 500;
  margin-bottom: 5px;
}

input[type="number"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #3d886f;
  color: white;
}

input[type="number"]::placeholder {
  color: #ddd;
}

.actions {
  margin-top: 10px;
}

.actions button {
  width: 100%;
  padding: 12px;
  background-color: #74c3a3;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.actions button:hover {
  background-color: #8dc6b1;
}
